
body{
    background: #fff;
}
header {
    width: 100vw;
    height: 6vh;
    line-height: 6vh;
    background: #fff;
    padding: 0 0.2rem;
    box-sizing: border-box;
    display: flex;
    position: fixed;
    top: 0;
    z-index: 100;
    margin-top:0.5vh;
    h2 {
        font-size: 0.30rem;
    }
    i {
        font-size: 0.4rem;
        margin-left: 0.1rem;
        color: #333;
    }
}

.search {
    height: 8vh;
    line-height: 8vh;
    margin-top:6vh;
    // margin-bottom: 3vh;
    width: 100vw;
    padding: 0 0.2rem;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input {
        width: 75vw;
        height: 6vh;
        background: #f2f2f2;
        border-radius: 8px;
        padding-left: 0.6rem;
        margin-top:0.3rem;
        box-sizing: border-box;
        font-size: 0.25rem;
    }
    i {
        position: absolute;
        font-size: 0.4rem;
        color: #999;
        left: 0.3rem;
        top: 0.15rem;
    }
    .logo {
        width: 0.7rem;
        height: 0.7rem;
        background: rgb(58, 152, 246);
        border-radius: 50%;
        color: #fff;
        text-align: center;
        line-height: 0.7rem;
        font-size: 0.2rem;
    }
}

.main {
    overflow: auto;
    .nav {
        width: 100vw;
        height: 5vh;
        line-height: 5vh;
        padding: 0 0.2rem;
        box-sizing: border-box;
        margin-top: 0.2rem;
        ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid gainsboro;
            li {
                text-align: center;
            }
            a {
                display: inline-block;
                width: 100%;
                height: 100%;
                font-size:0.23rem;
                color: #333;
            }
            .act {
                border-bottom: 1px solid #3A98F6;
                color: #3A98F6;
            }
        }
    }
}

.text_box {
    padding: 0 0.3rem;
    box-sizing: border-box;
    margin-top: 0.2rem;
    line-height: 0.4rem;
    margin-bottom: 0.3rem;
    h2 {
        font-size: 0.3rem;
    }
    p:nth-of-type(1) {
        font-size: 0.24rem;
        color: orange;
    }
    p:nth-of-type(2) {
        font-size: 0.25rem;
        color: #333;
    }
}

.friends-list {
    padding: 0 0.3rem;
    box-sizing: border-box;
    ul {
        display: flex;
        flex-direction: column;
        li {
            height: 1rem;
            display: flex;
            justify-content: space-between;
            margin-bottom: 0.2rem;
            border-bottom: 0.5px solid gainsboro;
            padding: 0 0 0.2rem 0;
            .box {
                display: flex;
            }
            .logo {
                width: 0.8rem;
                height: 0.8rem;
                border-radius: 50%;
                background: rgb(58, 152, 246);
                text-align: center;
                line-height: 0.8rem;
                color: #fff;
                font-size: 0.25rem;
                margin-right: 0.2rem;
            }
            .name {
                font-size: 0.26rem;
                p {
                    color: #999;
                    font-size: 0.23rem;
                }
            }
            .time {
                font-size: 0.2rem;
                color: #999;
            }
        }
    }
}

.logo-w {
    width: 0.8rem;
    height: 0.8rem;
    // background: url("../img/img_lx/hl.png");
    background-size: cover;
    margin-right: 0.2rem;
    img{
        width: 100%;
        height: 100%;
    }
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    i {
        font-size: 0.2rem;
        color: orange;
    }
    .yes {
        color: orange;
        font-size: 0.18rem;
    }
}

.video-box {
    width: 94vw;
    height: 30vh;
    margin: 0 auto;
}

.video-text {
    width: 94vw;
    margin: 0 auto 0.2rem;
    display: flex;
    justify-content: space-between;
    margin-top: 0.1rem;
    p {
        color: #999;
        font-size: 0.18rem;
        span {
            margin-right: 0.2rem;
        }
    }
    i {
        margin-right: 0.1rem;
    }
}

.xq {
    width: 1.2rem;
    height: 0.5rem;
    line-height: 0.5rem;
    border: 1px solid #3A98F6;
    text-align: center;
    line-height: 0.5rem;
    color: #3A98F6;
    font-size: 0.18rem;
    border-radius: 3px;
}

.swiper {
    width: 100vw;
    height: 16vh;
    img{
        width: 100%;
        height: 100%;
    }
}