@import "./reset.scss";
@import "./public.scss";
$color:#39a4ff;
.container{
    min-height: 100vh;
    background: #f5f5f5;
    box-sizing: border-box;

    header{
        height: px2rem(180px);
        background: #fff;
        .header_border{
            height: px2rem(145px);
            display: flex;
            flex-direction: row;
            align-items: center;
            // border-bottom: 1px solid #ccc;
            padding: 0 px2rem(50px) ;
            box-sizing: border-box;
            justify-content: space-between;
            p{
                font-size: px2rem(50px);
                // font-weight: bold;
            }
            .header_icon{
                i{
                    font-size: px2rem(60px);
                    color: $color;
                    margin-left: px2rem(80px);
                }
            }
            
        }
      
    }
    main{
        min-height: 85vh;
        margin-top: px2rem(15px);
        background: #fff;
        box-sizing: border-box;
        padding: px2rem(20px) px2rem(50px) ;
        .toplit{
            border-top: 1px solid #ccc;
            height: px2rem(145px);
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            
            .left{
                color: $color;
                font-size: px2rem(45px);
                i{
                font-size: px2rem(55px);

                }
            }
            .del_c{
                color: #aeaeae;
                font-size: px2rem(55px);

            }
        }
        .news_list{
            .item{
                height:px2rem(170px) ;
                display: flex;
                flex-direction: row;
                align-items: center;
                box-sizing: border-box;
                margin-top: px2rem(28px);
                .head_img{
                    width: px2rem(130px);
                    height: px2rem(130px);
                    img{
                        width: 100%;
                        height: 100%;
                    }
                }
                .item_info{
                    flex: 1;
                    height: px2rem(170px);
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    border-bottom: 1px solid #ccc;
                    margin-left: px2rem(35px);
                    .item_top{
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        font-size: px2rem(45px);
                        time{
                            font-size: px2rem(17px);
                            color: #a6a7ab;
                        }
                    }
                    .item_bottom{
                        color: #a6a7ab;

                        font-size: px2rem(40px);
                    }

                }
            }
        }

    }
    .footer_item:nth-child(1) a{
        color: $color;
 }
}